<div class="payment-method" data-bind="css: { '_active': (getCode() == isChecked()) }">
    <div class="payment-method-title field choice">
        <input
            type="radio"
            name="payment[method]"
            class="radio"
            data-bind="attr: { 'id': getCode() }, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
        />
        <label class="label" data-bind="attr: { 'for': getCode() }">
            <!-- Mercado Pago Logo -->
            <img
                class="payment-icon mercadopago-payment-icon"
                data-bind="attr: { alt: 'Mercado Pago', src:getCreditcardMini() }"
            />
            <!-- Mercado Pago Logo -->
            <span data-bind="text: getTitle()"></span>
        </label>

        <!-- ko if: (existBanner() == true)-->
        <div class="class-custom-banner-checkout">
            <img
                class="payment-banner-checkout"
                data-bind="attr: { alt: 'MercadoPago Banner', src: getBannerUrl() }"
            />
        </div>
        <!--/ko-->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko if: (getMpWalletButton() != 0)-->
        <div class="mp-wb-card">
            <div class="mp-wb-header">
                <div class="mp-wb-header-fast-buy">
                    <p><!-- ko i18n: 'Fast buy!'--><!-- /ko --></p>
                    <i>⚡️</i>
                </div>
            </div>

            <div class="mp-wb-body">
                <div class="wp-wb-logo-frame">
                    <img data-bind="attr: { alt: 'Mercado Pago', src: getMinilogo() }" />
                </div>

                <p class="mp-wb-body-title">
                    <!-- ko i18n: 'Use your saved cards'--><!-- /ko -->
                </p>
                <p class="mp-wb-body-text">
                    <!-- ko i18n: 'Pay without having to enter more data, in'--><!-- /ko -->
                    <br />
                    <!-- ko i18n: 'instalments and securely.'--><!-- /ko -->
                </p>

                <a class="wp-wb-body-button" data-bind="click: addWalletButton">
                    <!-- ko i18n: 'Pay with Mercado Pago'--><!-- /ko -->
                </a>
            </div>
        </div>

        <hr class="mp-custom-hr" />
        <!--/ko-->

        <form
            class="form"
            id="co-mercadopago-form"
            action="#"
            method="post"
            data-bind="mageInit: {
                      'transparent':{
                        'context': context(),
                        'controller': getControllerName(),
                        'gateway': getCode(),
                        'orderSaveUrl':getPlaceOrderUrl(),
                        'cgiUrl': getCgiUrl(),
                        'dateDelim': getDateDelim(),
                        'cardFieldsMap': getCardFieldsMap(),
                        'nativeAction': getSaveOrderUrl()
                      }, 'validation':[]}"
        >
            <!-- ko if: (getMpWalletButton() != 0)-->
            <p class="mp-custom-title">
                <!-- ko i18n: 'Or enter all your card details:'--><!-- /ko -->
            </p>
            <!--/ko-->

            <div id="mercadopago-form">
                <div class="mp-box-inputs mp-col-100">
                    <label for="mpCardNumber">
                        <!-- ko i18n: 'Credit card number'--><!-- /ko -->
                        <em>*</em>
                    </label>
                    <input
                        type="text"
                        id="mpCardNumber"
                        data-checkout="mpCardNumber"
                        autocomplete="off"
                        maxlength="24"
                        minlength="13"
                        onkeyup="maskInput(this, mcc)"
                        data-bind="event: { blur: cardNumberChanged }"
                    />

                    <small id="mp-error-205" class="mp-form-error" data-main="#mpCardNumber"><!-- ko i18n: 'Invalid card number'--><!-- /ko --></small>
                    <small id="mp-error-E301" class="mp-form-error mp-error-E301" data-main="#mpCardNumber"><!-- ko i18n: 'Invalid card number'--><!-- /ko --></small>

                    <div class="mp-payment-methods-container" data-bind="foreach: getPaymentMethods()">
                        <img data-bind="attr: { src: src, alt: name }" class="img-fluid mp-pm-card-image" />
                    </div>
                </div>

                <div class="mp-box-inputs mp-line">
                    <div class="mp-box-inputs mp-col-50">
                        <label for="mpCardExpirationMonthSelect">
                            <!-- ko i18n: 'Expiration month'--><!-- /ko -->
                            <em>*</em>
                        </label>
                        <select
                            id="mpCardExpirationMonthSelect"
                            data-checkout="mpCardExpirationMonthSelect"
                            name="mercadopago_custom[cardExpirationMonth]"
                            data-bind="
                                attr: { 'data-container': getCode() + '-cc-month' },
                                enable: isActive($parents),
                                options: getCcMonthsValues(),
                                optionsValue: 'value',
                                optionsText: 'month',
                                optionsCaption: $t('Month'),
                                event: { change: changeMonthInput }
                            "
                        ></select>

                        <small id="mp-error-208" class="mp-form-error" data-main="#mpCardExpirationMonthSelect"><!-- ko i18n: 'Invalid card expiration month'--><!-- /ko --></small>
                        <small id="mp-error-325" class="mp-form-error" data-main="#mpCardExpirationMonthSelect"><!-- ko i18n: 'Invalid card expiration month'--><!-- /ko --></small>
                    </div>

                    <div class="mp-box-inputs mp-col-50">
                        <label for="mpCardExpirationYearSelect">
                            <!-- ko i18n: 'Expiration year'--><!-- /ko -->
                            <em>*</em>
                        </label>
                        <select
                            id="mpCardExpirationYearSelect"
                            data-checkout="mpCardExpirationYearSelect"
                            name="mercadopago_custom[cardExpirationYear]"
                            data-bind="
                                attr: { 'data-container': getCode() + '-cc-year' },
                                enable: isActive($parents),
                                options: getCcYearsValues(),
                                optionsValue: 'value',
                                optionsText: 'year',
                                optionsCaption: $t('Year'),
                                event: { change: changeYearInput }
                            "
                        ></select>

                        <small id="mp-error-209" class="mp-form-error" data-main="#mpCardExpirationYearSelect"><!-- ko i18n: 'Invalid card expiration year'--><!-- /ko --></small>
                        <small id="mp-error-326" class="mp-form-error" data-main="#mpCardExpirationYearSelect"><!-- ko i18n: 'Invalid card expiration year'--><!-- /ko --></small>
                    </div>

                    <small id="mp-error-301" class="mp-form-error"><!-- ko i18n: 'Invalid card expiration date'--><!-- /ko --></small>
                </div>

                <div class="mp-box-inputs mp-col-100" id="mp-card-holder-div">
                    <label for="mpCardholderName">
                        <!-- ko i18n: 'Card holder name'--><!-- /ko -->
                        <em>*</em>
                    </label>
                    <input
                        type="text"
                        id="mpCardholderName"
                        name="mercadopago_custom[cardholderName]"
                        data-checkout="mpCardholderName"
                        autocomplete="off"
                    />

                    <small id="mp-error-221" class="mp-form-error" data-main="#mpCardholderName"><!-- ko i18n: 'Invalid cardholder name'--><!-- /ko --></small>
                </div>

                <div class="mp-box-inputs mp-line">
                    <div class="mp-box-inputs mp-col-35">
                        <label for="mpSecurityCode">
                            <!-- ko i18n: 'Security code'--><!-- /ko -->
                            <em>*</em>
                        </label>
                        <input
                            type="text"
                            id="mpSecurityCode"
                            data-checkout="mpSecurityCode"
                            autocomplete="off"
                            minlength="3"
                            maxlength="4"
                            onkeyup="maskInput(this, minteger);"
                        />

                        <small id="mp-error-224" class="mp-form-error" data-main="#mpSecurityCode"><!-- ko i18n: 'Invalid security code'--><!-- /ko --></small>
                        <small id="mp-error-E302" class="mp-form-error" data-main="#mpSecurityCode"><!-- ko i18n: 'Invalid security code'--><!-- /ko --></small>
                    </div>
                </div>

                <div class="mp-box-inputs mp-col-100 mp-doc" id="mp-doc-div">
                    <div class="mp-box-inputs mp-col-35 mp-docType" id="mp-doc-type-div">
                        <label for="mpDocType">
                            <!-- ko i18n: 'Document Type'--><!-- /ko -->
                            <em>*</em>
                        </label>
                        <select id="mpDocType" data-checkout="mpDocType" name="mercadopago_custom[docType]"></select>
                    </div>

                    <div class="mp-box-inputs mp-col-65 mp-docNumber" id="mp-doc-number-div">
                        <label for="mpDocNumber">
                            <!-- ko i18n: 'Document number'--><!-- /ko -->
                            <em>*</em>
                        </label>
                        <input
                            type="text"
                            id="mpDocNumber"
                            data-checkout="mpDocNumber"
                            name="mercadopago_custom[docNumber]"
                            autocomplete="off"
                        />

                        <small id="mp-error-324" class="mp-form-error" data-main="#mpDocNumber"><!-- ko i18n: 'Invalid document number'--><!-- /ko --></small>
                    </div>
                </div>

                <div class="mp-box-inputs mp-col-100 mp-issuer" id="mp-issuer-div">
                    <label for="mpIssuer">
                        <!-- ko i18n: 'Issuer'--><!-- /ko -->
                        <em>*</em>
                    </label>
                    <select id="mpIssuer" data-checkout="mpIssuer" name="mercadopago_custom[issuer]"></select>
                    <small id="id-issuer-status" class="mp-form-error"></small>
                </div>
            </div>
            <!-- end #mercadopago-form -->

            <div id="mp-box-installments">
                <div class="mp-box-inputs mp-col-100" id="mp-box-installments-selector">
                    <label for="mpInstallments">
                        <!-- ko i18n: 'Installments'--><!-- /ko -->
                        <em>*</em>
                    </label>
                    <select id="mpInstallments" data-checkout="mpInstallments" name="mercadopago_custom[installments]"></select>
                    <small id="id-installments-status" class="mp-form-error"></small>
                </div>

                <div id="mp-box-input-tax-cft">
                    <div id="mp-box-input-tax-tea">
                        <div id="mp-tax-tea-text"></div>
                    </div>
                    <div id="mp-tax-cft-text"></div>
                </div>
            </div>

            <div class="mp-box-inputs mp-col-100">
                <div class="mp-protect-buy">
                    <img data-bind="attr: { alt: 'Mercado Pago', src: getGrayMinilogo() }" />
                    <p><!-- ko i18n: 'Payment processed by Mercado Pago'--><!-- /ko --></p>
                </div>

                <hr class="mp-custom-hr" />
            </div>

            <div class="mp-line">
                <div class="mp-box-inputs mp-col-25">
                    <div id="mp-box-loading"></div>
                </div>
            </div>

            <div class="payment-method-billing-address mp-custom-display-inline-block">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>

            <div>
                <input id="mpCardExpirationMonth" type="hidden" />
                <input id="mpCardExpirationYear" type="hidden">
            </div>

            <div class="wb-cho-button-frame"></div>
        </form>

        <div afterRender="initApp()"></div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary mp-d-flex-baseline">
                <p class="mp-mr-20">
                    <!-- ko i18n: 'By continuing, you agree to our '--><!-- /ko -->
                    <a data-bind="attr: {href: getFingerPrintLink(), title: $t('link')}" target="_blank">
                        <!-- ko i18n: 'Terms and Conditions.'--><!-- /ko -->
                    </a>
                </p>
                <button
                    data-role="review-save"
                    type="submit"
                    id="mp-custom-save-payment"
                    data-bind="attr: {title: $t('Place Order')},
                               enable: (getCode() == isChecked()),
                               click: prePlaceOrder,
                               css: { disabled: !isPlaceOrderActionAllowed() }"
                    class="action primary checkout"
                    disabled
                >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
